<toaster-container toaster-options="{'limit':1}"></toaster-container>
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ configuration table ] start -->
                            <!-- [ configuration table ] end -->
                            <!-- [ HTML5 Export button ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Map Asset & Zone</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="deviceType"><b>Select Asset </b>
                                                        <span class="ng-invalid" style="color:red; font-weight:bold;"
                                                            ng-show="!asset">*</span></label>
                                                    <select ng-model="asset" class="form-control" id="sel1"
                                                        name="sellist1">
                                                        <option value="">Select Device</option>
                                                        <option ng-repeat="asset in assets" value="{{asset.id}}">
                                                            {{asset.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="zoneType"><b>Select Zone </b>
                                                        <span class="ng-invalid" style="color:red; font-weight:bold;"
                                                            ng-show="!zone">*</span></label>
                                                    <select ng-model="zone" class="form-control" id="sel1"
                                                        name="sellist1">
                                                        <option value="">Select Zone</option>
                                                        <option ng-repeat="zone in zones" value="{{zone.id}}">
                                                            {{zone.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4"></div>
                                            <div class="col-lg-2">
                                                <label for="pwd">&nbsp;</label>
                                                <button ng-click="mappingassetdevice()"
                                                    class="btn btn-primary btn-block"
                                                    ng-disabled="!asset || !zone">Link</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Asset & Zone Mapping List</h5>
                                    </div>
                                    <div class="card-block coustomBlock">
                                        <table id="mappiguserzone"
                                            class="display table nowrap table-striped table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Asset Name</th>
                                                    <th>Asset Type</th>
                                                    <th>Asset Sub Type</th>
                                                    <th>Zone Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
<!-- [ Main Content ] end -->