<style>
    .material-icons {
        vertical-align: middle;
        line-height: 0;
        margin-top: -5px;
    }

    /*
      * Tabs
      */
    .btn-block:disabled {
        cursor: not-allowed;
    }

    .tabs {
        padding: 0;
    }

    .tabs .tab-input {
        display: none;
    }

    .tabs .tab-label {

        cursor: pointer;
        float: left;
        margin: 5px;
        padding: 7px;
        text-align: center;
    }

    .tabs-full .tab-label {
        display: table-cell;
        float: none;
        width: 1%;
        border: 1px solid;
        border-radius: 3px;
    }

    .tabs .tab-label:hover {
        color: #333;
    }

    .dataTables_filter {
        visibility: hidden;
    }

    .tabs .tab-input:checked+.tab-label {
        border-radius: 3px;
        background-color: #211717;
        color: #FFF;
        border: 1px solid black;
    }

    .tabs .tabs-wrap {
        clear: both;
    }

    .tabs .tab {
        background-color: #fff;
        display: none;
        padding: 1em;
    }

    .tabs .tab>*:last-child {
        margin-bottom: 0;
    }

    #tab1:checked~.tabs-wrap #tab1content,
    #tab2:checked~.tabs-wrap #tab2content,
    #tab3:checked~.tabs-wrap #tab3content {
        display: block;
    }

    div.browse-wrap {
        top: 0;
        left: 0;
        margin: 20px;
        cursor: pointer;
        overflow: hidden;
        padding: 20px 60px;
        text-align: center;
        position: relative;
        background-color: #f6f7f8;
        border: solid 1px #d2d2d7;
    }

    div.title {
        color: #3b5998;
        font-size: 14px;
        font-weight: bold;
        font-family: tahoma, arial, sans-serif;
    }

    input.upload {
        right: 0;
        margin: 0;
        bottom: 0;
        padding: 0;
        opacity: 0;
        height: 300px;
        outline: none;
        cursor: inherit;
        position: absolute;
        font-size: 1000px !important;
    }

    span.upload-path {
        text-align: center;
        margin: 20px;
        display: block;
        font-size: 80%;
        color: #3b5998;
        font-weight: bold;
        font-family: tahoma, arial, sans-serif;
    }
</style>
<!-- [ Main Content ] start -->
<toaster-container></toaster-container>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Bus Configuration</h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="tabs">
                                            <input id="tab1" type="radio" name="tabs" class="tab-input" checked />
                                            <label for="tab1" class="tab-label"><i class="fa fa-file-text"></i>
                                                Individual Provisioning</label>
                                            <input id="tab2" type="radio" name="tabs" class="tab-input" />
                                            <label for="tab2" class="tab-label"><i class="fa fa-upload"></i> Bulk
                                                Provisioning</label>
                                            <div class="tabs-wrap">
                                                <div class="tab" id="tab1content">
                                                    <div class="card-block">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label for="busNumber">Bus Number
                                                                        <span class="ng-invalid"
                                                                            style="color:red; font-weight:bold;"
                                                                            ng-show="!busNumber">*</span></label>
                                                                    <input name="busNumber" ng-model="busNumber"
                                                                        type="text" class="form-control"
                                                                        placeholder="Enter Bus Number">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label for="venderName">Vendor Name
                                                                        <span class="ng-invalid"
                                                                            style="color:red; font-weight:bold;"
                                                                            ng-show="!venderName">*</span></label>
                                                                    <input name="venderName" ng-model="venderName"
                                                                        type="text" class="form-control"
                                                                        placeholder="Enter Vendor Name">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="form-group">
                                                                    <label for="gateWay"><b>Select Bus Gateway</b>
                                                                        <span class="ng-invalid"
                                                                            style="color:red; font-weight:bold;"
                                                                            ng-show="!gateWay">*</span></label>
                                                                    <select ng-model="gateWay" class="form-control">
                                                                        <option value="">Select Gateway</option>
                                                                        <option ng-repeat="gateWay in busGatewayList"
                                                                            value={{gateWay.id}}>
                                                                            {{gateWay.name}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2">
                                                                <label for="pwd">&nbsp;</label>
                                                                <button class="btn btn-primary btn-block"
                                                                    ng-if="!isedit"
                                                                    ng-disabled="(!busNumber) || (!venderName)"
                                                                    ng-click="addUpdateBus()">Save</button>
                                                                <button class="btn btn-primary btn-block"
                                                                    data-toggle="modal" data-target="#exampleModal"
                                                                    ng-if="isedit"
                                                                    ng-disabled="(!busNumber) || (!venderName)">Update</button>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab" fallbackfallback id="tab2content">
                                                    <div class="card-block">
                                                        <div class="browse-wrap">
                                                            <div class="title">Choose a file to upload</div>
                                                            <input id="imageLoader" class="upload" name="imageLoader"
                                                                type="file" file-model="myFile"
                                                                title="Choose a file to upload" />
                                                        </div>
                                                        <span class="upload-path"></span>
                                                        <div class="text-center m-t-20">
                                                            <button ng-click="uploadCsv()"
                                                                class="btn btn-primary">Upload Now</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--code for modal window starts-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><b>Update Bus Configuration</b>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to update this data ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                        <button type="button" ng-click="addUpdateBus()" class="btn btn-primary"
                                            data-dismiss="modal">Yes, Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--code for modal window ends-->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" ng-show="showTable == false">
                                    <div class="card-header">
                                        <h5>Bus List</h5>
                                    </div>
                                    <div class="card-block coustomBlock">
                                        <table id="bus" class="display table nowrap table-striped table-hover"
                                            width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Bus Number</th>
                                                    <th>Vendor Name</th>
                                                    <th>Unique Id</th>
                                                    <th>Gateway</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="card" ng-show="showTable == true">
                                    <div class="card-header">
                                        <h5>Bus List</h5>
                                    </div>
                                    <div class="card-block coustomBlock">
                                        <div class="c-wrap mx-2">
                                            <i class="feather icon-file-text mx-auto d-block text-center text-dark"
                                                style="font-size: 36px;" aria-hidden="true"> </i>
                                            <p class="text-center text-dark" style="margin: 10px 0px;">No records Found!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>