<style>
   .allowed{
      background-color: green !important
   }
   .notallowed{
      background-color: orangered !important;
   }
   .empty{
      background-color: grey !important;
   }
</style>

<!--  START CONTAINER FLUID -->
<div class="container-fluid  sm-padding-10 sm-gutter">
        <!-- Zone Summary Start -->
        <div class="">
           <div class="">
              <div class="">
                 <div class="row">
                    <div class="col-md-12">
                       <div pg-portlet id="portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                          <div class="panel-heading separator" style="padding-top: 27px;margin-top: -19px;">
                             <div class="panel-title">All Zone Details
                             </div>
                             <div class="panel-controls">
                                <ul>
                                   <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                   </li>
                                </ul>
                             </div>
                          </div>
                          <div class="panel-body">
                             </br>
                             <div class="row">

                                <div class="container-fluid">
                                   <div class="row">
                                      <div ng-repeat="zone in zoneData" class="col-sm-3 m-b-10">
                                          
                                                <div class="post-module">
                                                  <!-- Thumbnail-->
                                                  <div class="thumbnail">
                                                    <div class="date " ng-class="{allowed : zone.allowedUsers > 0 && zone.notallowedUsers == 0, notallowed : zone.allowedUsers > 0 && zone.notallowedUsers > 0 || zone.allowedUsers == 0 && zone.notallowedUsers > 0, empty : zone.allowedUsers == 0 && zone.notallowedUsers == 0}">
                                                      <div class="day">{{zone.allowedUsers + zone.notallowedUsers}}</div>
                                                      <div class="circle"  ><i   class="fa fa-bell"></i></div>
                                                     
                                                    </div><img src="../assets/img/photo-1429043794791-eb8f26f44081.jpeg"/>
                                                  </div>
                                                  <!-- Post Content-->
                                                  <div class="post-content">
                                                    <div class="category" ng-class="{allowed : zone.allowedUsers > 0 && zone.notallowedUsers == 0, notallowed : zone.allowedUsers > 0 && zone.notallowedUsers > 0 || zone.allowedUsers == 0 && zone.notallowedUsers > 0, empty : zone.allowedUsers == 0 && zone.notallowedUsers == 0}">{{zone.name}}</div>
                                                    <!-- <h1 class="title">City Lights in New York</h1> -->
                                                    <h2 class="sub_title"><i title="Allowed Users" style="color: green;" class="fas fa-user"></i>: {{zone.allowedUsers}}</h2>
                                                    <h2 class="sub_title"><i title="Not Allowed Users" style="color: orangered;" class="fas fa-user-slash"></i>: {{zone.notallowedUsers}}</h2>
                                                    
                                                    <!-- <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> {{date}}</span></div> -->
                                                  </div>
                                                </div>
                                         

                                      </div>


                                   </div>
                                </div>
                                
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- Zone Summary End -->

        <!-- Notification and Stats Start -->
        <div class="">
           <div class="panel panel-transparent">
              <div class="">
                 <div class="row">
                    <div class="col-md-8">
                       <div pg-portlet id="portlet-linear" class="panel panel-default" progress="bar" on-refresh="refreshTest('#portlet-linear')">
                          <div class="panel-heading separator" style="padding-top: 27px;margin-top: -19px;">
                             <div class="panel-title">Notifications
                             </div>
                             <div class="panel-controls">
                                <ul>
                                   <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                   </li>
                                </ul>
                             </div>
                          </div>
                          <div class="panel-body" style="margin-top: 2%;">
                             <!-- START WIDGET -->
                             <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" pg-portlet progress="circle" on-refresh="refreshTest('.widget-11-2')">
                                <div class="auto-overflow widget-11-2-table">
                                    <table id="realtimeTable" class="display" width="100%" cellspacing="0">
                                          <thead>
                                          <tr>
                                             <th>Zone Name</th>
                                              <th >User Name</th>
                                              <th> Entry Time</th>
                                              <th>Exit Time</th>
                                              <th>Event Message</th>
                                              <th>Action</th>
                                          </tr>
                                          </thead>
                                      </table>
                                   <!-- <table class="table table-condensed table-hover" >
                                      <tbody >
                                         <tr ng-repeat="notification in notify">
                                            <td class="font-montserrat all-caps fs-12 col-lg-1">{{notification.zoneName}}</td>

                                            <td class="font-montserrat all-caps b-r b-dashed b-grey col-lg-1" style="font-weight: bold;">
                                               <span class="hint-text small">{{notification.empName}}</span>
                                            </td>
                                            <td class="col-lg-3">
                                               <span class="font-montserrat fs-18">$27</span>
                                            </td>
                                         </tr>

                                      </tbody>
                                   </table> -->
                                </div>
                                <!-- <div class="padding-25">
                                   <p class="small no-margin">
                                       <a href=""><i class="fa fs-16 fa-arrow-circle-o-down text-success m-r-10"></i></a>
                                       <span class="hint-text ">Show more details of APPLE . INC</span>
                                   </p>
                                   </div> -->
                             </div>
                             <!-- END WIDGET -->
                          </div>
                       </div>
                    </div>
                    <div class="col-md-4">
                       <div pg-portlet id="portlet-circular" class="panel panel-default" progress="circle" on-refresh="refreshTest('#portlet-circular')">
                          <div class="panel-heading separator" style="padding-top: 27px;margin-top: -19px;">
                             <div class="panel-title">Area Summary
                             </div>
                             <div class="panel-controls">
                                <ul>
                                   <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a>
                                   </li>
                                </ul>
                             </div>
                          </div>
                          <div class="panel-body">
                             <!-- START WIDGET FOR TOTAL USER IN AREA -->
                             <div class="widget-16-header padding-20">
                                <span class="icon-thumbnail bg-master-light pull-left text-master">TU</span>
                                <div class="pull-left">
                                   <p class="hint-text all-caps font-montserrat  small no-margin overflow-ellipsis " >Total User In Area</p>
                                   <h5 class="no-margin overflow-ellipsis ">{{areaData.totalUser}}</h5>
                                </div>
                                <div class="clearfix"></div>
                             </div>
                             <!-- END WIDGET FOR TOTAL USER IN AREA -->
                             <!-- START WIDGET FOR ALLOWED USER IN AREA -->
                             <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar" pg-portlet progress="bar" on-refresh="refreshTest('.widget-9')" style="background-color: green; height: 100px;">
                                <div class="container-xs-height full-height">
                                   <div class="row-xs-height">
                                      <div class="col-xs-height col-top">
                                         <div class="panel-heading  top-left top-right">
                                            <div class="panel-title text-black">
                                               <span class="font-montserrat fs-11 all-caps" style="color: white;">Total Allowed User In Area <i class="fa fa-chevron-right"></i>
                                               </span>
                                            </div>
    
                                         </div>
                                      </div>
                                   </div>
                                   <div class="row-xs-height">
                                      <div class="col-xs-height col-top">
                                         <div class="p-l-20 p-t-15">
                                            <h3 class="no-margin p-b-5 text-white">{{areaData.allowedUser}}</h3>

                                         </div>
                                      </div>
                                   </div>
                                   <div class="row-xs-height">
                                      <div class="col-xs-height col-bottom">
                                         <div class="progress progress-small m-b-20">
                                            <!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
                                            <div class="progress-bar progress-bar-white" style="width:45%"></div>
                                            <!-- END BOOTSTRAP PROGRESS -->
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <!-- END WIDGET FOR  ALLOWED USER IN AREA -->
                             </br>

                             <!-- START WIDGET FOR NOT ALLOWED USER IN AREA -->
                             <div class="widget-9 panel no-border bg-primary no-margin widget-loader-bar" pg-portlet progress="bar" on-refresh="refreshTest('.widget-9')" style="background-color: orangered; height: 100px;">
                              <div class="container-xs-height full-height">
                                 <div class="row-xs-height">
                                    <div class="col-xs-height col-top">
                                       <div class="panel-heading  top-left top-right">
                                          <div class="panel-title text-black">
                                             <span class="font-montserrat fs-11 all-caps" style="color: white;">Total Not Allowed User In Area <i class="fa fa-chevron-right"></i>
                                             </span>
                                          </div>
                                          <!-- <div class="panel-controls">
                                             <ul>
                                                <li><a ng-click="refresh()" class="portlet-refresh text-black" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a>
                                                </li>
                                             </ul>
                                          </div> -->
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row-xs-height">
                                    <div class="col-xs-height col-top">
                                       <div class="p-l-20 p-t-15">
                                          <h3 class="no-margin p-b-5 text-white">{{areaData.notAllowedUser}}</h3>
                                          <!-- <a href="" class="btn-circle-arrow text-white"><i class="pg-arrow_minimize"></i>
                                          </a>
                                          <span class="small hint-text">65% lower than last month</span> -->
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row-xs-height">
                                    <div class="col-xs-height col-bottom">
                                       <div class="progress progress-small m-b-20">
                                          <!-- START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress) -->
                                          <div class="progress-bar progress-bar-white" style="width:45%"></div>
                                          <!-- END BOOTSTRAP PROGRESS -->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <!-- END WIDGET FOR NOT ALLOWED USER IN AREA -->                             
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <!-- Notification and Stats Stop -->
</div>
     <!-- END CONTAINER FLUID -->
     